.matslide1Container {
  position: relative;
  margin: auto;


}

.matslide1Container img {
  vertical-align: middle;
  height:350px;
  width:100%;
}

.matslide1Container .content {
  position: absolute;


  bottom: 0;
  left:0;


  border-bottom: 550px solid rgba(0, 0, 0, 0.6);
  border-right: 200px solid transparent;
  border-left: 50px solid rgba(0, 0, 0, 0.6);
  width:60%;
  color: #f1f1f1;
  height:100%;
}


.content h1{
  color:white;
  font-size: 35px;
  padding-top: 55%;
  padding-right: 1%;
  text-align: center;
}

.content p{
  color:white;
  text-align: center;
  font-size: 18px;
}



.button {
  background-color: #2ab1bd;
  border: none;
  color: white;
  padding: 10px 60px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 40px;
  transform: translate(65%, -50%);
}
