.crsbfslide5Container {
  background-color: #c7c7c7;
  padding: 60px 50px;
}
.button2 {
  background-color:#2aa2bd;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 2px 0px;
  cursor: pointer;
  border-radius: 40px;
}
button:hover.button2 {
  background-color:#4f250f;
  color:#c7e6eb;
}
