/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
  position: relative;
  /* background-color: red; */
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #a8d0e6;
  color: white;
}

.modal-header h2{
  color: #47130a;
}

.modal-body {
  padding: 2px 16px;
  margin-left: 50px;
  color:#0c3440;
  font-size: 18px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #a8d0e6;
  color: white;
}


.middle{
  position: relative;
  left: 300px;
  transform: translate(-50%,-50%);
}
#myBtn{
  border: 2px solid #522009;
  background-color: rgba(255, 0, 0, 0);
  color: #522009;
  padding: 14px 28px;
  font-size: 16px;


  position: relative;
  display: block;
  text-decoration: none;
  margin: 30px 0;
  overflow: hidden;
  transition: 1s all ease;
  
}
#myBtn::before{
  background: #522009;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

#myBtn::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
#myBtn:hover::before{
  height: 380%;
}

#myBtn:hover {
  color:#92b4d1 !important;
}
