



.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  height: 700px !important;
  /* 700px !important; */
}

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

.carousel-inner {
  position: relative;
  margin: 0 auto;
}

.carousel-inner .carousel-caption{
  position: absolute;
  color: #f1f1f1;

  bottom: 0%;
  right:0%;


  border-right: 100% solid rgba(0, 0, 0, 0.5);
  border-bottom: 800px solid rgba(0, 0, 0, 0.5);
  border-left: 500px solid transparent;


  height:100%;
}

.carousel-inner .carousel-caption .carousel-text {
  padding: 300px 0;
  /* 200px 0; */
  width:70%;
  font-size: 18px;
}

.carousel-text h1{
  font-size: 35px;
  color:#c4e2ff;
}

.carousel-text p{
  color:#d7e7f5;
}


.middle{
  position: relative;
  left: 380px;
  transform: translate(-50%,-50%);
}
#myBtn{
  border: 2px solid #6f8abf;
  background-color: rgba(255, 0, 0, 0);
  padding: 14px 28px;
  font-size: 16px;


  position: relative;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  overflow: hidden;
  transition: 1s all ease;
  /* border-radius: 40px; */
}
#myBtn::before{
  background:#6f8abf;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

#myBtn::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
#myBtn:hover::before{
  height: 380%;
}

.middle a:hover{
  text-decoration: none;
  color:black !important;
}

.middle a{
  color:#6f8abf !important;
}
