.slide3Container {
  position: relative;
  margin: auto;


}

.slide3Container img {
  vertical-align: middle;
  height:500px;
  /* 500px; */
  width:100%;
}

.slide3Container .content {
  position: absolute;


  bottom: 0;
  left:0;


  border-bottom: 500px solid rgba(0, 0, 0, 0.5);
  border-right: 200px solid transparent;
  border-left: 50px solid rgba(0, 0, 0, 0.5);
  width:60%;
  color: #f1f1f1;
  height:100%;
}


.content h1{
  color:white;
  font-size: 35px;
  padding-top: 15%;
  padding-right: 5%;
  text-align: center;
}

.content p{
  color:white;
  font-size: 18px;
  padding-right: 10%;
  text-align: center;
}

/* .button {
  background-color: #2ab1bd;
  border: none;
  color: white;
  padding: 10px 60px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 40px;
  transform: translate(65%, -50%);
}


button:hover.button {
  background-color:#217f94;
  color:white;
} */


.middle3{
  position: relative;
  left: 85%;
  top:5%;
  transform: translate(-50%,-50%);
}
#myBtn3{
  border: 2px solid #3ac7c5;
  background-color: rgba(255, 0, 0, 0);
  padding: 14px 28px;
  font-size: 16px;


  position: relative;
  display: block;
  text-decoration: none;
  margin: 30px 0;
  overflow: hidden;
  transition: 1s all ease;
  /* border-radius: 40px; */
}
#myBtn3::before{
  background: #3ac7c5;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

#myBtn3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
#myBtn3:hover::before{
  height: 380%;
}

.middle3 a:hover{
  text-decoration: none;
  color:#041638 !important;
}

.middle3 a{
  color: #3ac7c5 !important;
}
